<div class="container text-center">
<h1>About Page</h1>
<p>We are DevMath.  Our company focuses on creating an exclusive community
for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla voluptate, in quo voluptatum repudiandae. Provident quaerat ea nam rerum facilis animi aliquid accusamus ullam officia quibusdam, nobis veniam, repudiandae fugiat!</p>
</div>